<div class="relative w-full h-full mt-10 mb-10 bg-cover bg-center flex items-center justify-center"
style="background-image: url('');">
    <div class="bg-black bg-opacity-50 text-white p-8 rounded-lg max-w-2xl text-center">
        <h1 class="text-4xl font-bold mb-4">Welcome to White and Yellow Tour!</h1>
        <span class="font-extrabold underline">Your trusted partner in crafting unforgettable travel experiences.</span>
        <p class="text-lg mt-2">We are a leading Tours and Travels company, With over 15 years of expertise in the tour and travel industry,
            we specialize in delivering high-quality services tailored to your needs—all at the most affordable rates.
            Whether you're venturing into new destinations or seeking a seamless, hassle-free journey, our dedicated
            team ensures every moment of your travel is extraordinary.

            Let us take you on a journey where memories are made, dreams come alive, and every experience is as unique
            as you are.</p>
    </div>
</div>